.keys{
    display: grid;
    grid-template-columns: 90px 90px 90px;
    grid-template-rows: repeat(5, 90px);
}

button{
    font-size: 2rem;
    border: solid black 1px;
}

#screen{
    width: 266px;
    height: 150px;
    border: solid black 2px;
    position: relative;
    background-color: lightgrey;
}

.display{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 266px;
    height: 75px;
    direction: rtl;
    white-space: nowrap;
}

.input{
    top: 75px;
}

p{
    width: 100%;
    font-size: 2rem;
    overflow: hidden;
    text-align: right;
}